<footer class="main-footer">
	<div class="footer_nav">
		<div class="main-header-callback">
     		<a class="main-header-phone" href="tel:+7 000 000 00 00">+7 000 000 00 00</a>
     		<a class="main-header-callback-link" href="">Перезвоните мне</a>
     	</div>
   		<button class="btn-hamburger-2 js_hamburger-2">Меню</button>
   		<button class="btn-hamburger btn-hamburger-1 js_hamburger">
      		<span></span>
      		<p>Каталог</p>
   		</button>
	</div>
<div class="container">
	<div class="copyright">© 2020 Мебельный магазин</div>
	<a href="" class="footer-link">Разработано <img src="{{ site.theme.link }}/assets/images/isart.svg" alt=""></a>
</div>
</footer>
</div>
</body>
{{ function('wp_footer') }}
</html>