<div class="catalog-content-right">
	<div class="catalog-filter-title">
	<span>Фильтр</span>
	<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 160 160" class="plus">
		<path d="M70 0h20v160H70z" class="vertical-line"></path>
		<path d="M0 70h160v20H0z" class="horizontal-line"></path>
	</svg>
	</div>
	<div class="catalog-filter-content">
		<div class="filter-prices">
			<div class="filter-prices-name">Цена</div>
			<div class="filter-prices-value">
                <div class="range-multiple_input">
                    <span>от </span>
                    <input type="number" name="price_min" class="input-default" v-model="rangePriceMinEditable" :max="rangePriceMax">
                </div>
                <div class="range-multiple_input field--filled">
                    <span>до </span>
                    <input type="number" name="price_max" class="input-default" v-model="rangePriceMaxEditable" :min="rangePriceMin">
                </div>
                <vue-slider v-model="rangePrice" :tooltip="'none'" :enable-cross="false" :interval="500" :min="rangePriceMin" :max="rangePriceMax"></vue-slider>
			</div>

		</div>
<!-- 		<div class="filter-categories">
			<div class="filter-categories-name">Категории</div>

			<div class="control-group">
				{% for item in 0..3 %}
				    <label class="control control-checkbox">
			        Модульные
			            <input type="checkbox" checked="checked" />
			        <div class="control_indicator"></div>
			    </label>
				{% endfor %}
			</div>
		</div> -->

		<div class="filter-row">
			<sidebar-block-item title="Цвет" v-model="cvet" storevalue="cvet"></sidebar-block-item>
		</div>
		<div class="filter-row">
			<sidebar-block-item title="Форма" v-model="forma" storevalue="forma"></sidebar-block-item>
		</div>
		<div class="filter-row">
			<sidebar-block-item title="Размер" v-model="razmer" storevalue="razmer"></sidebar-block-item>
		</div>
		<div class="filter-row" v-if="dlina.length > 0">
			<div class="filter-prices-name">Длина</div>
			<div class="filter-prices-value">
                <div class="range-multiple_input">
                    <span>от </span>
                    <input type="number" name="dlina_min" class="input-default" v-model="rangeDlinaMinEditable" :max="rangeDlinaMax">
                </div>
                <div class="range-multiple_input field--filled">
                    <span>до </span>
                    <input type="number" name="dlina_max" class="input-default" v-model="rangeDlinaMaxEditable" :min="rangeDlinaMin">
                </div>
                <vue-slider v-model="rangeDlina" :tooltip="'none'" :enable-cross="false" :interval="500" :min="rangeDlinaMin" :max="rangeDlinaMax"></vue-slider>
			</div>
		</div>
		<div class="filter-row" v-if="dlina_max.length > 0">
			<div class="filter-prices-name">Длина max</div>
			<div class="filter-prices-value">
                <div class="range-multiple_input">
                    <span>от </span>
                    <input type="number" name="dlina_max_min" class="input-default" v-model="rangeDlina_maxMinEditable" :max="rangeDlina_maxMax">
                </div>
                <div class="range-multiple_input field--filled">
                    <span>до </span>
                    <input type="number" name="dlina_max_max" class="input-default" v-model="rangeDlina_maxMaxEditable" :min="rangeDlina_maxMin">
                </div>
                <vue-slider v-model="rangeDlina_max" :tooltip="'none'" :enable-cross="false" :interval="500" :min="rangeDlina_maxMin" :max="rangeDlina_maxMax"></vue-slider>
			</div>
		</div>
		<div class="filter-row" v-if="shirina.length > 0">
			<div class="filter-prices-name">Ширина</div>
			<div class="filter-prices-value">
                <div class="range-multiple_input">
                    <span>от </span>
                    <input type="number" name="shirina_min" class="input-default" v-model="rangeShirinaMinEditable" :max="rangeShirinaMax">
                </div>
                <div class="range-multiple_input field--filled">
                    <span>до </span>
                    <input type="number" name="shirina_max" class="input-default" v-model="rangeShirinaMaxEditable" :min="rangeShirinaMin">
                </div>
                <vue-slider v-model="rangeShirina" :tooltip="'none'" :enable-cross="false" :interval="500" :min="rangeShirinaMin" :max="rangeShirinaMax"></vue-slider>
			</div>
		</div>
		<div class="filter-row" v-if="vysota.length > 0">
			<div class="filter-prices-name">Высота</div>
			<div class="filter-prices-value">
                <div class="range-multiple_input">
                    <span>от </span>
                    <input type="number" name="vysota_min" class="input-default" v-model="rangeVysotaMinEditable" :max="rangeVysotaMax">
                </div>
                <div class="range-multiple_input field--filled">
                    <span>до </span>
                    <input type="number" name="vysota_max" class="input-default" v-model="rangeVysotaMaxEditable" :min="rangeVysotaMin">
                </div>
                <vue-slider v-model="rangeVysota" :tooltip="'none'" :enable-cross="false" :interval="500" :min="rangeVysotaMin" :max="rangeVysotaMax"></vue-slider>
			</div>
		</div>
		<div class="filter-row" v-if="tolshhina.length > 0">
			<div class="filter-prices-name">Толщина</div>
			<div class="filter-prices-value">
                <div class="range-multiple_input">
                    <span>от </span>
                    <input type="number" name="tolshhina_min" class="input-default" v-model="rangeTolshhinaMinEditable" :max="rangeTolshhinaMax">
                </div>
                <div class="range-multiple_input field--filled">
                    <span>до </span>
                    <input type="number" name="tolshhina_max" class="input-default" v-model="rangeTolshhinaMaxEditable" :min="rangeTolshhinaMin">
                </div>
                <vue-slider v-model="rangeTolshhina" :tooltip="'none'" :enable-cross="false" :interval="500" :min="rangeTolshhinaMin" :max="rangeTolshhinaMax"></vue-slider>
			</div>
		</div>
		<div class="filter-row" v-if="glubina.length > 0">
			<div class="filter-prices-name">Глубина</div>
			<div class="filter-prices-value">
                <div class="range-multiple_input">
                    <span>от </span>
                    <input type="number" name="glubina_min" class="input-default" v-model="rangeGlubinaMinEditable" :max="rangeGlubinaMax">
                </div>
                <div class="range-multiple_input field--filled">
                    <span>до </span>
                    <input type="number" name="glubina_max" class="input-default" v-model="rangeGlubinaMinEditable" :min="rangeGlubinaMin">
                </div>
                <vue-slider v-model="rangeGlubina" :tooltip="'none'" :enable-cross="false" :interval="500" :min="rangeGlubinaMin" :max="rangeGlubinaMax"></vue-slider>
			</div>
		</div>
		<div class="filter-row">
			<sidebar-block-item title="Двухъярусные" v-model="dvuxyarusnye" storevalue="dvuxyarusnye"></sidebar-block-item>
		</div>
		
		
		<div class="filter-row">
			<sidebar-block-item title="Материал фасада" v-model="material_fasada" storevalue="material_fasada"></sidebar-block-item>
		</div>
		<div class="filter-row">
			<sidebar-block-item title="Материал каркаса" v-model="material_karkasa" storevalue="material_karkasa"></sidebar-block-item>
		</div>
		<div class="filter-row">
			<sidebar-block-item title="Материал обивки" v-model="material_obivki" storevalue="material_obivki"></sidebar-block-item>
		</div>
		<div class="filter-row">
			<sidebar-block-item title="Механизм" v-model="mexanizm" storevalue="mexanizm"></sidebar-block-item>
		</div>
		<div class="filter-row">
			<sidebar-block-item title="Наполнение" v-model="napolnenie" storevalue="napolnenie"></sidebar-block-item>
		</div>
		<div class="filter-row">
			<sidebar-block-item title="Обивка" v-model="obivka" storevalue="obivka"></sidebar-block-item>
		</div>
		<div class="filter-row">
			<sidebar-block-item title="Основание" v-model="osnovanie" storevalue="osnovanie"></sidebar-block-item>
		</div>
		<div class="filter-row">
			<sidebar-block-item title="Особенности" v-model="osobennosti" storevalue="osobennosti"></sidebar-block-item>
		</div>
		<div class="filter-row">
			<sidebar-block-item title="Раскладка" v-model="raskladka" storevalue="raskladka"></sidebar-block-item>
		</div>
		<div class="filter-row">
			<sidebar-block-item title="Раскладной" v-model="raskladnoj" storevalue="raskladnoj"></sidebar-block-item>
		</div>
		
		<div class="filter-row">
			<sidebar-block-item title="С ящиком" v-model="s_yashhikom" storevalue="s_yashhikom"></sidebar-block-item>
		</div>
		
		<div class="filter-row">
			<sidebar-block-item title="Сиденье" v-model="sidene" storevalue="sidene"></sidebar-block-item>
		</div>
		<div class="filter-row">
			<sidebar-block-item title="Со спальным местом" v-model="so_spalnym_mestom" storevalue="so_spalnym_mestom"></sidebar-block-item>
		</div>
		<div class="filter-row">
			<sidebar-block-item title="Длина спального места" v-model="spalnoe_mesto_dlina" storevalue="spalnoe_mesto_dlina"></sidebar-block-item>
		</div>
		<div class="filter-row">
			<sidebar-block-item title="Ширина спального места" v-model="spalnoe_mesto_shirina" storevalue="spalnoe_mesto_shirina"></sidebar-block-item>
		</div>
		<div class="filter-row">
			<sidebar-block-item title="Стиль" v-model="stil" storevalue="stil"></sidebar-block-item>
		</div>
		<div class="filter-row">
			<sidebar-block-item title="Столешница" v-model="stoleshnica" storevalue="stoleshnica"></sidebar-block-item>
		</div>
		<div class="filter-row">
			<sidebar-block-item title="Страна производства" v-model="strana_proizvodstva" storevalue="strana_proizvodstva"></sidebar-block-item>
		</div>
		<div class="filter-row">
			<sidebar-block-item title="Тип" v-model="tip" storevalue="tip"></sidebar-block-item>
		</div>
		
		<div class="filter-row">
			<sidebar-block-item title="Вид" v-model="vid" storevalue="vid"></sidebar-block-item>
		</div>
		
		<div class="filter-row">
			<sidebar-block-item title="Замки" v-model="zamki" storevalue="zamki"></sidebar-block-item>
		</div>
		<div class="filter-row">
			<sidebar-block-item title="Жесткость" v-model="zhestkost" storevalue="zhestkost"></sidebar-block-item>
		</div>
	</div>
</div>