{% include "partials/header.twig" %}
<main class='main-content' id="app">
<div class="product-page-content">
	<div class="container">
		<div class="catalog-header">
			<nav class="woocommerce-breadcrumb"><a href="">Главная</a>&nbsp;/&nbsp;Каталог</nav>
			<div class="catalog-title">
				<h1>Корзина</h1>
				<hr class="catalog-title-decore">
			</div>
		</div>
		
	</div>

</main>
{% include "partials/footer.twig" %}