{% include "partials/header.twig" %}
<main class='main-content' id="app">
<div class="product-page-content">
	<div class="container">
		<div class="catalog-header">
			<nav class="woocommerce-breadcrumb"><a href="">Главная</a>&nbsp;/&nbsp;Каталог</nav>
			<div class="catalog-title">
				<h1>О нас</h1>
				<hr class="catalog-title-decore">
			</div>
		</div>
		<div class="actions-banner_block">
				<img src="{{ site.theme.link }}/assets/images/action.jpg" alt="">
			</div>
		<div class="contacts-content">
			<div class="contacts-content-left">
				<div class="contacts-address">
					<div class="contacts-address-info">
						<div class="contacts-address-name">Наш магазин</div>
						<div class="contacts-address-row">
							<div class="contacts-address-row-name">Адрес:</div>
							<div class="contacts-address-row-value">Г. Орехово-Зуево, ул. Урицкого, 92</div>
						</div>
						<div class="contacts-address-row">
							<div class="contacts-address-row-name">Номер телефона:</div>
							<div class="contacts-address-row-value"><a href="tel:+7 (900) 000-00-00">+7 (900) 000-00-00</a></div>
							<div class="contacts-address-row-value"><a href="tel:+7 (900) 000-00-00">+7 (900) 000-00-00</a></div>
						</div>
						<div class="contacts-address-row">
							<div class="contacts-address-row-name">Время работы</div>
							<div class="contacts-address-row-value">Пн-Сб с 9:00 до 18:00</div>
						</div>
					</div>
					<div class="contacts-address-map">
						<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A47b64d9e58388de2dcea9a9dd728e750616f627b7c63d995e0b82291fb1bcbc4&amp;width=100%25&amp;height=346&amp;lang=ru_RU&amp;scroll=true"></script>
					</div>
				</div>
				<div class="delivery-block">
					<div class="delivery-block-title">Доставка</div>
					<div class="delivery-block-content">
						<p>Если в вашем городе нет нашей службы доставки, то вы можете заказать у нас мебель, и мы ее отправим любой выбранной вами транспортной компанией (доставка до ТК 1000 рублей). В этом случае мы работаем по 100% предоплате. Выберите на сайте в корзине при оформлении заказа способ оплаты по счету в банке или банковской картой. После поступления денег на наш расчетный счет мы отправим груз через любую выбранную вами транспортную компанию.</p>
						<p>Внимание! Перед получением мебели в терминале вашей транспортной компании осмотрите ее на наличие дефектов. Если мебель пришла с механическими повреждениями, то позвоните нам, не забирая мебель из транспортной компании. Мы расскажем, что делать в данной ситуации, дадим инструкции.</p>
						<p>Вы оплачиваете стоимость товара и доставки до терминала транспортной компании. Если транспортная компания будет забирать мебель самостоятельно с нашего склада, то вы нам должны оплатить только стоимость товара. Оплату услуг транспортной компании вы оплачиваете при получении мебели.</p>
						<p>Рассчитать стоимость доставки вы можете на сайте любой транспортной компании, указав вес и объем груза (можно уточнить у наших консультантов по каждой выбранной позиции).</p>
					</div>
				</div>
			</div>
			<div class="contacts-content-right">
				<div class="contacts-form-name">Есть вопросы? Напишите нам</div>
				<form action="javascript:void(0);" id="alxModalForm2">
					<label for="">
						Ваше имя
						<input class="form-input" type="text" placeholder="Иван">
					</label>
					<label for="">
						Эл. почта
						<input class="form-input" type="text" placeholder="info@yande.ru">
					</label>
					<label for="">
						Номер телефона
						<input class="form-input" type="text" placeholder="+7 (925) 700-06-11">
					</label>
					<textarea name="" id="" placeholder="Вопрос"></textarea>
					<input class="form-submit" type="submit" value="Отправить">
				</form>
			</div>
		</div>
	</div>

</main>
{% include "partials/footer.twig" %}