{% include "partials/header.twig" %}
<main class='main-content' id="app">
<div class="product-page-content">
	<div class="container">
		<div class="catalog-header">
			<nav class="woocommerce-breadcrumb"><a href="">Главная</a>&nbsp;/&nbsp;Каталог</nav>
			<div class="catalog-title">
				<h1>О нас</h1>
				<hr class="catalog-title-decore">
			</div>
		</div>
		<div class="actions-banner_block">
				<img src="{{ site.theme.link }}/assets/images/action.jpg" alt="">
			</div>
		<div class="about-us-content">
			<div class="about-us-content-column">
				<h2>Мебель в Орехово-зуево</h2>
				<p>Мы хотели, чтобы было просто выбрать мебель для дома по минимально возможной цене. Не обязательно дешевую мебель, нет, большой ассортимент товаров самых разных категорий по минимальной возможной цене.</p>
				<p>Мы постоянно работаем над тем, что бы уменьшать расходы в цепочке от закупки материалов для производства, до доставки товара к вашему дому, в минимально возможные сроки.</p>
				<p>Каждый день наша команда работает над тем, что бы вам было проще найти подходящий товар, работаем над рекомендательными механизмами, над расширением ассортимента.</p>
				
				<h2>5 причин выбрать интернет-магазин Мебель орехово-зуево:</h2>
				<ul>
					<li>сотни позиций мебели для дома известных брендов;</li>
					<li>сотрудничаем напрямую с производителями, поэтому предлагаем лучшие цены на весь модельный ряд, для постоянных покупателей действует система скидок;</li>
					<li>доставка по Москве, области и всей России;</li>
					<li>простота оформления заказа, грамотно структурированный каталог товаров;</li>
					<li>команда профессионалов, всегда готовая помочь в выборе мебели для дома.</li>
				</ul>
			</div>
			<div class="about-us-content-column">
				<h2>Мы постарались сделать мебель максимально доступной, процесс ее выбора - удобным и быстрым, а покупку - легкой.</h2>
				<ul>
					<li>В каталоге представлена продукция собственного производства, а значит, мы несем ответственность за все этапы изготовления: от закупки материалов и фурнитуры до доставки и сборки готового изделия.</li>
					<li>Все отделы, включая колл-центр, службу контроля качества, склады и доставку - штатные единицы компании, что позволяет быстро вносить изменения в работу, оперативно справляться с трудностями и подстраиваться под клиента.</li>
					<li>Мы не требуем внесения предоплаты - расчет производится после получения и проверки вами качества мебели.</li>
					<li>Нас любят не только за широкий ассортимент, но и за разумное соотношение цены и качества.</li>
				</ul>
				<h2>У нас есть выбор всегда</h2>
				<p>Процесс оформления заказа занимает не более пяти минут. Чтобы оставить заявку на покупку товара в интернет-магазине мебель Орехово-Зуево, выполните простой порядок действий:</p>
				<ol>
					<li>Добавьте в корзину понравившиеся изделия из каталога продукции.</li>
					<li>Оставьте заявку через форму обратной связи, не забыв указать контактные данные, или позвоните по номеру указанному на сайте.</li>
				</ol>
				<p>Нужна консультация? Обратитесь к менеджеру интернет-магазина по телефону! Мы ответим на вопросы, поможем с выбором товара.</p>
				<p>Покупать с Мебель Орехово-Зуево быстро, просто, выгодно!</p>
			</div>
		</div>
	</div>

</main>
{% include "partials/footer.twig" %}