{% include "partials/header.twig" %}
<main class='main-content' id="app">
<div class="product-page-content">
	<div class="container">
		<div class="catalog-header">
			{{ function('woocommerce_breadcrumb') }}
			<div class="news-title">
				<h1>{{ post.title }}</h1>
			</div>
		</div>
		<div class="news-content">
			{{ post.content }}
		</div>
	</div>

</main>
{% include "partials/footer.twig" %}