.main-footer {
    background-color: #333333;
    padding: 16px 0;
}
.main-footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 95px 0 15px;
}
.copyright{
	font-size: 16px;
	color: #DFDFDF;
}
.footer-link{
	font-size: 16px;
	color: #DFDFDF;
	text-decoration: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.footer-link img{
	margin-left: 10px;
}
.footer_nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #861c32;
    padding: 12px 10px 2px 10px;
    box-sizing: border-box;
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 99;
}
.footer_nav .main-header-callback {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 0 0px 0 45px;
    width: 160px;
    background-image: url(../images/phone_w.svg);
}
.footer_nav .main-header-callback a {
    color: #fff !important;
    font-size: 14px;
}