header.main-header {
    padding: 9px 0px;
    background-color: #fff;
}
header.main-header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 55px;
}
.main-header-logo{
    display: none;
    flex-grow: 1;
}
.main-header-logo a {
    display: block;
    background: url(../images/logo-bg.jpg);
    text-decoration: none;
    padding: 21px 10px;
    width: 265px;
}
.main-header-logo a h2{
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
}
.main-header-menu{
	flex-grow: 1;
}
.main-header-menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.main-header-menu ul li{
	display: inline-block;
	vertical-align: middle;
	margin-right: 45px;
}
.main-header-menu ul li a{
	font-weight: 600;
	font-size: 16px;
	color: #333333;
	text-decoration: none;
}
.main-header-callback {
    background-image: url(../images/phone.svg);
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding: 0 30px 0 45px;
    width: 220px;
}
.main-header-phone{
	font-weight: 600;
	font-size: 18px;
	color: #333333;
	text-decoration: none;
	margin-bottom: 3px;
	display: inline-block;
}
.main-header-callback-link{
	font-size: 16px;
text-decoration: underline;
color: #A90E2D;
display: inline-block;
}
.sb-search {
    position: absolute;
    display: none;
    width: 0%;
    right: 122px;
    min-width: 60px;
    height: 100%;
    overflow: hidden;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
}
.sb-search-input {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    background-color: #fff;
    width: calc(100% - 122px);
    height: 100%;
    margin: 0;
    z-index: 10;
    font-size: 18px;
    padding-left: 14px;
    color: #333;
    border-radius: 0;
}
.sb-search.sb-search-open .sb-search-submit, .no-js .sb-search .sb-search-submit {
    z-index: 90;
}
.sb-search.sb-search-open, .no-js .sb-search {
    width: 100%;
}
.sb-icon-search, .sb-search-submit {
    width: 60px;
    height: auto;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    border: none;
}
.sb-icon-search {
    z-index: 90;
    background-image: url(../images/search_m.svg);
    background-repeat: no-repeat;
    background-position: 47% 50%;
    border-radius: 0 5px 5px 0;
    height: 100%;
}
.favorite-link {
    background-image: url(../images/heart.svg);
    background-position: 30px 50%;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 15px 30px 15px 75px;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #333333;
    text-decoration: none;
}

.cart-link {
    background-image: url(../images/cart.svg);
    background-position: 30px 50%;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 9px 30px 9px 75px;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #333333;
    text-decoration: none;
}